.card-footer-text {
  font-family: "Montserrat", sans-serif;
  font-size: 0.5em;
}

.char-white{
  color: #F5F5F5;
}

.bg-theme-color{
  background-color: #93764E;
}

.outline-white{
  border-color: #F5F5F5;
}

.hover-accent :hover{
  color: #0FA1FC;
  transition: color .15s;
}
.bg-white{
  background-color: #F5F5F5!important;
}

.border-bottom{
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2)!important;
}

.container {
  display: flex; /* 横並び */
  flex-wrap: wrap; /* 折り返す */
}
.item {
  position: relative;
  width: 33.3%; /* 幅 */
  padding-bottom: 33.3%; /* 幅と同じ高さをつくる */
  border: solid 2px #FFF; /* 白の枠線 */
  box-sizing: border-box;
}
.item img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.item p{
  position: absolute;
  padding:  20px;
  left:  5px;
  top: 315px;
  font-size:20px;
  font-family: 'Anton', sans-serif;
  color: #000;
  text-shadow:1px 1px 0 #FFF, -1px -1px 0 #FFF,
              -1px 1px 0 #FFF, 1px -1px 0 #FFF,
              0px 1px 0 #FFF,  0-1px 0 #FFF,
              -1px 0 0 #FFF, 1px 0 0 #FFF;
}

.ml-center{
  margin-left:725px;
}

.title{
  font-family: 'Bebas Neue', cursive;
}

h5{
  font-family: 'Bebas Neue', cursive;
  font-size:60px;
  margin:0;
}

.main-wrapper{
  padding-top:70px;
  background: #f8f8f8;
  width: 70%;
}